<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formul?io de cadastro de Not?ia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>

		<form action="/noticias/salvar" method="post">
			<ul>
				<li>
					<label for="titulo">
						T?ulo
					</label>
					<input type="text" id="titulo" name="titulo" placeholder="Título da Not?ia" />
				</li>
				<li>
					<label for="noticia">
						T?ulo
					</label>
					<textarea id="noticia" name="noticia" rows="5" cols="30"></textarea>
				</li> 
				<li>
					<input type="submit" value="Enviar" />
				</li>
			</ul>
		</form>

	</body>
</html>